@import '../../app.scss';

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }
  @include tablet {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 10px;
      text-align: center;
      align-items: center;
      margin-top: 20px;
    }
    @include tablet {
      gap: 10px;
      text-align: center;
      align-items: center;
      padding: 10px;
      margin-top: 20px;
    }

    h1 {
      font-size: 70px;
      line-height: 80px;

      @include mobile {
        font-size: 40px;
      }
      @include tablet {
        font-size: 40px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .form-container {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 15px;
    }
    @include tablet {
      flex: 2;
      width: 100%;
      padding: 15px;
    }

    .coffee-svg {
      z-index: -1;

      svg {
        position: absolute;
        stroke: orange;
        margin: auto;
        z-index: -50;
        @include mobile {
          width: 150px !important;
          height: 150px !important;
          left: 5%;
          top: 0;
        }
        @include tablet {
          width: 200px !important;
          height: 200px !important;
          left: 25%;
          top: 0;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      z-index: 20;

      @include mobile {
        padding: 10px;
        gap: 10px;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
